
/*
* Codigo css del estilo principal del cuerpo de varias secciones del juego
*/
body {
  margin: auto;
  padding: 0;
  height: 100%;
  width: 100%;
  content: url(/public/f1.jpg) url(/public/f2.png) url(/public/f3.jpg) url(/public/f5.jpg) url(/public/f7.png) url(/public/f8.jpg) url(/public/f6.png) url(/public/f9.png)
  url(/public/t2.png) url(/public/11.png) url(/public/home.png) url(/public/m3.png) url(/public/logo2.png);
}

/*
* Codigo css para el estilo y transicion de imagenes de fondo del juego
*/
.mainStyle {
    height: 100vh;
    width: 100%;
    background-image: url(/public/f2.png);
    background-size: cover;
    background-position: center;

    transition: .3s;

    animation-name: animate;
    animation-direction: alternate-reverse;
    animation-duration: 27s;
    animation: delay 15px;
    animation-fill-mode:forwards;
    animation-iteration-count: infinite;
    animation-play-state:running;
    animation-timing-function:ease-in-out;
}

/*
* Codigo de configuracion de la transicion de las imagenes de fondo del juego
*/
@keyframes animate {
    0% {background-image: url(/public/f1.jpg);}
    10% {background-image: url(/public/f3.jpg);}
    20% {background-image: url(/public/f9.png);}
    30% {background-image: url(/public/f5.jpg);}
    50% {background-image: url(/public/f6.png);}
    70% {background-image: url(/public/f7.png);}
    90% {background-image: url(/public/f8.jpg);}
}

/*
* Codigo css del texto del logo del juego
*/
.titulo {
    position: absolute;
    width: 740px;
    height: 320px;

    background: rgba(0, 0, 0, 0.71);
    background-image: url(/public/11.png);
    border-radius: 19px;
    left: 50px;
    top: 50px;
}

/*
* Codigo css del fondo del logo del juego
*/
.titulo2 {
    position: absolute;
    width: 258px;
    height: 110px;

    background: rgba(0, 0, 0, 0.71);
    background-image: url(/public/t2.png);
    border-radius: 10px;
    left: 30px;
    top: 840px;
}

/*
* Codigo css del estilo de los botones
*/
.button {
    position: absolute;
    width: 285px;
    height: 60px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    font-family: 'Anton', sans-serif;
    font-style: bold;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    
    color: #000000;
    cursor: pointer;
}

.buttonCerrar {
    width: 100px;
    height: 40px;
    font-family: 'Anton', sans-serif;
    font-style: bold;
    font-weight: 400;
    font-size: 20px;


}

.buttonHome {
    width: 100px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Anton', sans-serif;
    font-style: bold;
    font-weight: 400;
    font-size: 30px;
    border: 3px solid #000000;
    
    color: #000000;
    position: absolute;
    cursor: pointer;
}

/*
* Codigo css de los cuadros del cuadro principal de la seccion de crear partida
*/
.squareSelection {
    box-sizing: border-box;
    position: absolute;
    width: 1055px;
    height: 871px;
    background: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    left: 432px;
    top: 50px;

}

/*
* Codigo css del cuadro inferior del cuadro principal de la seccion de crear partida
*/
.squareSelectionAux {
    box-sizing: border-box;
    position: absolute;
    width: 1055px;
    height: 100px;
    left: 0px;
    top: 771px;
    background: #750606;
    border-radius: 10px;
    border: 3px solid #000000;
    left: 432px;
    top: 840px;
}

/*
* Codigo css del cuadro izquierdo de la seccion de estadisticas del juego
*/
.squareStatistics1 {
    box-sizing: border-box;

    position: absolute;
    width: 700px;
    height: 927px;

    background-image: url(/public/m3.png);
}

/*
* 
*/
.joinModule {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: #1a1a1a;
}


/*
* Codgigo css para el estilo de la tabla de informacion de la seccion de estadisticas del juego
*/
.cuadroT {
    box-sizing: border-box;
    position: absolute;
    width: 520px;
    height: 684px;
    left: 105px;
    top: 110px;
 
    font-family: 'Anton', sans-serif;
    color: #000000;
    font-style: bold;
    font-size: 22px;
 
    text-align:center;
    overflow-x: auto;
    
}

.cuadroT2 {
    box-sizing: border-box;
    position: absolute;
    width: 530px;
    height: 300px;
    left: 100px;
    top: 100px;

    font-family: 'Anton', sans-serif;
    color: #000000;
    font-style: bold;
    font-size: 20px;
    line-height: 20px;
    text-align:center;
    overflow-x: auto;
}

.cuadroT3 {
    box-sizing: border-box;
    position: absolute;

    font-family: 'Anton', sans-serif;
    color: #000000;
    font-style: bold;
    font-size: 22px;
 
    text-align:center;
    overflow-x: auto;
}

.cuadroE {
    box-sizing: border-box;
    position: absolute;
    width: 530px;
    height: 400px;
    left: 100px;
    top: 410px;

    font-family: 'Anton', sans-serif;
    color: #000000;
    font-style: bold;
    font-size: 25px;
    
}

.table1 {
    margin: auto;
    overflow: auto;
    table-layout: fixed;
}

.table1 th {
    padding: 10px;
    background-color: #f0f6ed;

    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.table1 thead {
    position:sticky;
    top: 0px;
}

.table1 tbody {
    width: auto;
    height: 150px;
    width: 200px;
    overflow: auto;
    
}

.table1 td {
    padding: 20px;
}

.filaT1 {
    margin: auto;
    border-bottom: 8px #f0f6ed;
    border-style:solid;

    border-left: 0;
    border-right: 0;
    border-top: 0;

    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(73,202,221,1) 0%, rgba(77,204,223,1) 29%, rgba(157,240,255,0.8015581232492998) 100%);
}
.table2 {
    height: 100%;
    margin: auto;
    overflow: auto;
    table-layout: fixed;

}

.table2 thead {
    position:sticky;
    top: 0;
    background-color: #FFFFFF;
}
.table2 th {
    padding: 20px;
    background-color: #f0f6ed;

    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.inputC {
    width: 100px;
    height: 40px;
    border: 3px solid #000000;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    
    
}

.Modal {
    background-color: #FFFFFF;
    width: 400px;
    height: 200px;
    position:absolute;
    top: 0px;
    margin: auto;
    text-align: center;
    justify-content: center;
}

.table2 tbody {
    width: auto;
    height: 150px;
    width: 200px;
    overflow: auto;
}

.table2 td {
    padding: 30px;
}

::-webkit-scrollbar {
    width: 7px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #7a6e6e; 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px #000000; 
}

.NameSelection {
    font-family: 'Anton', sans-serif;
    color: #000000;
    font-style: bold;
    font-size: 25px;
    position: relative;
    top: 300px;
    text-align: center;
    
}

.VehiculeSelection {
    font-family: 'Anton', sans-serif;
    color: #000000;
    font-style: bold;
    font-size: 45px;
    position: relative;
    top: 70px;
    text-align: center;
}

.inputName {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    border: 3px solid #000000;
    width: 400px;
    text-align: center;
}

.Carro1 {
    position: absolute;
    margin: auto;
    padding: 0;
    top: 200px;
    left: 100px;
    width: 400px;
    height: 200px;
    background-image: url(/public/carro1_2.png);
    border-radius: 10px;

    background-size: auto;
    box-sizing: border-box;

}
.Carro2 {
    position: absolute;
    margin: auto;
    padding: 0;
    top: 200px;
    left: 550px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-image: url(/public/carro2_1.png);
    background-size: auto;

    box-sizing: border-box;
}
.Carro3 {
    position: absolute;
    margin: auto;
    padding: 0;
    top: 450px;
    left: 100px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-image: url(/public/carro3_1.png);

    box-sizing: border-box;
}
.Carro4 {
    position: absolute;
    margin: auto;
    padding: 0;
    top: 450px;
    left: 550px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-image: url(/public/carro4_1.png);

    box-sizing: border-box;
}

.inputP {
    width: 200px;
    height: 40px;
    border: 3px solid #000000;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    
    
}